<div class="full-height-wrapper p-8 text-gray-800 flex">
	<div class="container bg-white p-8 w-1/3 mr-3">
  	<%= image_tag @project.thumbnail, alt: "alttext", class: 'mb-4' %>
  	<h1 class="text-4xl font-bold mb-4"><%= @project.title %></h1>
  	<p class="text-lg"><%= @project.description %></p>
	</div>
	<div class="container bg-white p-8 w-2/3 ml-3">

	</div>
</div>