<div class="full-height-wrapper p-8 text-gray-800">
	<div class="container mx-auto bg-white p-8">
	  <div class="projects-header flex items-center justify-between mb-5">
	  	<h1 class="text-4xl font-bold"><%= @project.title %></h1>
	  </div>
	  <div class="projects">
	  	<%= @project.description %>
	  </div>
	</div>
</div>